include README.md
include requirements.txt
include *.env
include *.md
include Dockerfile
recursive-include usage_examples *.py *.env *.md
recursive-include tests *.py
recursive-include example_llm_data *.parquet
