include README.md
include requirements.txt
include pyproject.toml
include setup.py
include Dockerfile
include example.env
include docker.env
recursive-include usage_examples *
recursive-include src *